body{
    background-color: #5F54E3;

}
.container{
    width: 400px;
    padding: 10px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    margin: 60px auto 0;
}
.title-login h2{
    text-align: center;
    font-size: 30px;
}
.button-login{
    margin-top: 40px;
    text-align: center;
}
.button-login:hover{
    background-color: #cccccc;
}
.button-login button{
    padding: 10px 30px;
}
#btn-fb{
    background-color: #3b599B;
    color: white;
}

